<<<<<<< HEAD
﻿@using Pokemons.Core.Application.ViewModel.Tipo
=======
﻿@using Pokemons.Core.Application.ViewModel.Pokemones
>>>>>>> 5b9ee33994f341d7a6339b8ef121b513d12da1d9
@model SaveType 
@{
    bool editMode = Model.Id == 0 ? false : true;  
    ViewData["Title"] = "Save Type";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(editMode ? $"Editando el tipo: {Model.Name}" : "Creando un nuevo tipo")</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Type" asp-action="@(editMode ? "Edit" : "Create")">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input type="text" asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for=Id/>

                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-controller="Type" asp-action="Index" class="btn btn-warning">Return</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

